

#map3d {
	position : relative;
	height: 100vh;
	width: 100vw;
}

#overlay {
	position : absolute;
	left : 30vw;
	top : 20vh;
	z-index: 1;
	background-color: #ffffff; 
}


#slides {
	position : relative;
}

#controls {
	position: absolute;
	z-index: 14;
	margin: 10px;
}

.slideImg {
	position:absolute;
	max-width: 50vw;
	max-height: 50vh;
	top:0;
	left:0;
	z-index: 8;
	z-index:15;
}

.active {
	z-index: 10;
}

.last-active {
	z-index: 9;
}

#present{
	margin-left: 5px;
}

.form-control {
	margin: 0;
	border: 10px;
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.btn-facebook.disabled,
.btn-facebook[disabled] {
  color: #ffffff;
  background-color: #133783;
  *background-color: #102e6d;
}

.btn-facebook:active,
.btn-facebook.active {
  background-color: #0d2456 \9;
}